.git/
.gitignore
.gitmodules
.agitmodules
.github/
.pre-commit-config.yaml
.vscode/
.idea/
.tours/
.DS_Store

.env
.env.*
*.env
**/*.env
envs/
.github/env/
.locust_env/

locust.conf
*locust.conf
configs/
*.example.conf

__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.eggs/
pip-wheel-metadata/
build/
dist/
.venv/
venv/

.uv/
.cache/
.mypy_cache/
.pytest_cache/
.ruff_cache/
.pyright/
.coverage
.coverage.*
coverage.xml
htmlcov/

infra/
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.tfstate.lock.info
.terraformrc
terraform.rc
.terraform.lock.hcl
crash.log
crash.*.log

README.md
CHANGELOG.md
CHABNGELOG.md
LICENSE
docs/
tests/
cloud/
data/
reports/
results/
download/

*.csv
*.html
*.png
*.pdf
